@import "nib"

unitSize     = 600px
wallColor    = #333
ceilingColor = #444
floorColor   = #222
viewColor    = #111

.view-window
  width unitSize + 4
  height unitSize + 4
  border 5px solid black
  perspective unitSize
  overflow hidden
  background viewColor

  img
    width 100%
    height 100%

  .wall
    position absolute
    width unitSize + 10
    height unitSize + 10

  .ceiling
    ._0
      transform translateY(-1 * (unitSize / 2)) translateX(-1 * unitSize) rotateX(90deg) 
      background ceilingColor
    ._1
      transform translateY(-1 * (unitSize / 2)) rotateX(90deg) 
      background ceilingColor
    ._2
      transform translateY(-1 * (unitSize / 2)) translateX(unitSize) rotateX(90deg) 
      background ceilingColor
    ._3
      transform translateY(-1 * (unitSize / 2)) translateX(-1 * unitSize) translateZ(-1 * unitSize) rotateX(90deg) 
      background ceilingColor
    ._4
      transform translateY(-1 * (unitSize / 2)) translateZ(-1 * unitSize) rotateX(90deg) 
      background ceilingColor
    ._5
      transform translateY(-1 * (unitSize / 2)) translateX(unitSize) translateZ(-1 * unitSize) rotateX(90deg) 
      background ceilingColor
    ._6
      transform translateY(-1 * (unitSize / 2)) translateX(-1 * unitSize) translateZ(-2 * unitSize) rotateX(90deg) 
      background ceilingColor
    ._7
      transform translateY(-1 * (unitSize / 2)) translateZ(-2 * unitSize) rotateX(90deg) 
      background ceilingColor
    ._8
      transform translateY(-1 * (unitSize / 2)) translateX(unitSize) translateZ(-2 * unitSize) rotateX(90deg) 
      background ceilingColor
    ._9
      transform translateY(-1 * (unitSize / 2)) translateX(-2 * unitSize) translateZ(-2 * unitSize) rotateX(90deg) 
      background ceilingColor
    ._10
      transform translateY(-1 * (unitSize / 2)) translateX(2 * unitSize) translateZ(-2 * unitSize) rotateX(90deg) 
      background ceilingColor

  .floor
    ._0
      transform translateY(unitSize / 2) translateX(-1 * unitSize) rotateX(90deg) 
      background floorColor
    ._1
      transform translateY(unitSize / 2) rotateX(90deg) 
      background floorColor
    ._2
      transform translateY(unitSize / 2) translateX(unitSize) rotateX(90deg) 
      background floorColor
    ._3
      transform translateY(unitSize / 2) translateX(-1 * unitSize) translateZ(-1 * unitSize) rotateX(90deg) 
      background floorColor
    ._4
      transform translateY(unitSize / 2) translateZ(-1 * unitSize) rotateX(90deg) 
      background floorColor
    ._5
      transform translateY(unitSize / 2) translateX(unitSize) translateZ(-1 * unitSize) rotateX(90deg) 
      background floorColor
    ._6
      transform translateY(unitSize / 2) translateX(-1 * unitSize) translateZ(-2 * unitSize) rotateX(90deg) 
      background floorColor
    ._7
      transform translateY(unitSize / 2) translateZ(-2 * unitSize) rotateX(90deg) 
      background floorColor
    ._8
      transform translateY(unitSize / 2) translateX(unitSize) translateZ(-2 * unitSize) rotateX(90deg) 
      background floorColor
    ._9
      transform translateY(unitSize / 2) translateX(-2 * unitSize) translateZ(-2 * unitSize) rotateX(90deg) 
      background floorColor
    ._10
      transform translateY(unitSize / 2) translateX(2 * unitSize) translateZ(-2 * unitSize) rotateX(90deg) 
      background floorColor

  .side
    ._0
      // not visible due to perspective
      transform translate3D(-1 * unitSize, 0, 0) rotateY(90deg)
      background wallColor
    ._1
      transform translate3D(-.5 * unitSize, 0, 0) rotateY(90deg)
      background wallColor
    ._2
      transform translate3D(.5 * unitSize, 0, 0) rotateY(90deg)
      background wallColor
    ._3
      // not visible due to perspective
      transform translate3D(unitSize, 0, 0) rotateY(90deg)
      background wallColor
    ._4
      // not visible due to perspective
      background wallColor
      transform translate3D(-1 * (unitSize + (unitSize / 2)), 0, -1 * unitSize) rotateY(90deg)
    ._5
      background wallColor
      transform translate3D(-.5 * unitSize, 0, -1 * unitSize) rotateY(90deg)
    ._6
      background wallColor
      transform translate3D(.5 * unitSize, 0, -1 * unitSize) rotateY(90deg)
    ._7
      // not visible due to perspective
      background wallColor
      transform translate3D(unitSize + (unitSize / 2), 0, -1 * unitSize) rotateY(90deg)
    ._8
      background wallColor
      transform translate3D(-1 * (unitSize + (unitSize / 2)), 0, -2 * unitSize) rotateY(90deg)
    ._9
      background wallColor
      transform translate3D(-.5 * unitSize, 0, -2 * unitSize) rotateY(90deg)
    ._10
      background wallColor
      transform translate3D(.5 * unitSize, 0, -2 * unitSize) rotateY(90deg)
    ._11
      background wallColor
      transform translate3D(unitSize + (unitSize / 2), 0, -2 * unitSize) rotateY(90deg)

  .front
    ._0
      transform translate3D(-1 * unitSize, 0, 0) 
      background wallColor
    ._1
      transform translate3D(0, 0, 0) 
      background wallColor
    ._2
      transform translate3D(unitSize, 0, 0) 
      background wallColor
    ._3
      transform translate3D(-1 * unitSize, 0, -1 * unitSize) 
      background wallColor
    ._4
      transform translate3D(0, 0, -1 * unitSize) 
      background wallColor
    ._5
      transform translate3D(unitSize, 0, -1 * unitSize)
      background wallColor
    ._6
      transform translate3D(-1 * unitSize, 0, -2 * unitSize) 
      background wallColor
    ._7
      transform translate3D(0, 0, -2 * unitSize) 
      background wallColor
    ._8
      transform translate3D(unitSize, 0, -2 * unitSize)
      background wallColor
    ._9
      transform translate3D(-2 * unitSize, 0, -2 * unitSize)
      background wallColor
    ._10
      transform translate3D(2 * unitSize, 0, -2 * unitSize)
      background wallColor
