body,
html {
  background-color: #333;
  margin: 0;
  padding: 0;
}
h1 {
  text-align: center;
}
.game-window {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 904px;
  height: 904px;
  margin-left: -450px;
  margin-top: -450px;
  border: 5px solid #000;
  -webkit-perspective: 900px;
  -moz-perspective: 900px;
  -ms-perspective: 900px;
  perspective: 900px;
  overflow: hidden;
  background-color: #191919;
  -webkit-animation: 2s spin infinite;
  -moz-animation: 2s spin infinite;
  -o-animation: 2s spin infinite;
  -ms-animation: 2s spin infinite;
  animation: 2s spin infinite;
}
.game-window .wall {
  position: absolute;
  width: 900px;
  height: 900px;
  border: solid 1px #fff;
}
.game-window .ceiling ._0 {
  -webkit-transform: translateY(-450px) translateX(-900px) rotateX(90deg);
  -moz-transform: translateY(-450px) translateX(-900px) rotateX(90deg);
  -o-transform: translateY(-450px) translateX(-900px) rotateX(90deg);
  -ms-transform: translateY(-450px) translateX(-900px) rotateX(90deg);
  transform: translateY(-450px) translateX(-900px) rotateX(90deg);
  background-color: #686868;
}
.game-window .ceiling ._1 {
  -webkit-transform: translateY(-450px) rotateX(90deg);
  -moz-transform: translateY(-450px) rotateX(90deg);
  -o-transform: translateY(-450px) rotateX(90deg);
  -ms-transform: translateY(-450px) rotateX(90deg);
  transform: translateY(-450px) rotateX(90deg);
  background-color: #686868;
}
.game-window .ceiling ._2 {
  -webkit-transform: translateY(-450px) translateX(900px) rotateX(90deg);
  -moz-transform: translateY(-450px) translateX(900px) rotateX(90deg);
  -o-transform: translateY(-450px) translateX(900px) rotateX(90deg);
  -ms-transform: translateY(-450px) translateX(900px) rotateX(90deg);
  transform: translateY(-450px) translateX(900px) rotateX(90deg);
  background-color: #686868;
}
.game-window .ceiling ._3 {
  -webkit-transform: translateY(-450px) translateX(-900px) translateZ(-900px) rotateX(90deg);
  -moz-transform: translateY(-450px) translateX(-900px) translateZ(-900px) rotateX(90deg);
  -o-transform: translateY(-450px) translateX(-900px) translateZ(-900px) rotateX(90deg);
  -ms-transform: translateY(-450px) translateX(-900px) translateZ(-900px) rotateX(90deg);
  transform: translateY(-450px) translateX(-900px) translateZ(-900px) rotateX(90deg);
  background-color: #686868;
}
.game-window .ceiling ._4 {
  -webkit-transform: translateY(-450px) translateZ(-900px) rotateX(90deg);
  -moz-transform: translateY(-450px) translateZ(-900px) rotateX(90deg);
  -o-transform: translateY(-450px) translateZ(-900px) rotateX(90deg);
  -ms-transform: translateY(-450px) translateZ(-900px) rotateX(90deg);
  transform: translateY(-450px) translateZ(-900px) rotateX(90deg);
  background-color: #686868;
}
.game-window .ceiling ._5 {
  -webkit-transform: translateY(-450px) translateX(900px) translateZ(-900px) rotateX(90deg);
  -moz-transform: translateY(-450px) translateX(900px) translateZ(-900px) rotateX(90deg);
  -o-transform: translateY(-450px) translateX(900px) translateZ(-900px) rotateX(90deg);
  -ms-transform: translateY(-450px) translateX(900px) translateZ(-900px) rotateX(90deg);
  transform: translateY(-450px) translateX(900px) translateZ(-900px) rotateX(90deg);
  background-color: #686868;
}
.game-window .ceiling ._6 {
  -webkit-transform: translateY(-450px) translateX(-900px) translateZ(-1800px) rotateX(90deg);
  -moz-transform: translateY(-450px) translateX(-900px) translateZ(-1800px) rotateX(90deg);
  -o-transform: translateY(-450px) translateX(-900px) translateZ(-1800px) rotateX(90deg);
  -ms-transform: translateY(-450px) translateX(-900px) translateZ(-1800px) rotateX(90deg);
  transform: translateY(-450px) translateX(-900px) translateZ(-1800px) rotateX(90deg);
  background-color: #686868;
}
.game-window .ceiling ._7 {
  -webkit-transform: translateY(-450px) translateZ(-1800px) rotateX(90deg);
  -moz-transform: translateY(-450px) translateZ(-1800px) rotateX(90deg);
  -o-transform: translateY(-450px) translateZ(-1800px) rotateX(90deg);
  -ms-transform: translateY(-450px) translateZ(-1800px) rotateX(90deg);
  transform: translateY(-450px) translateZ(-1800px) rotateX(90deg);
  background-color: #686868;
}
.game-window .ceiling ._8 {
  -webkit-transform: translateY(-450px) translateX(900px) translateZ(-1800px) rotateX(90deg);
  -moz-transform: translateY(-450px) translateX(900px) translateZ(-1800px) rotateX(90deg);
  -o-transform: translateY(-450px) translateX(900px) translateZ(-1800px) rotateX(90deg);
  -ms-transform: translateY(-450px) translateX(900px) translateZ(-1800px) rotateX(90deg);
  transform: translateY(-450px) translateX(900px) translateZ(-1800px) rotateX(90deg);
  background-color: #686868;
}
.game-window .floor ._0 {
  -webkit-transform: translateY(450px) translateX(-900px) rotateX(90deg);
  -moz-transform: translateY(450px) translateX(-900px) rotateX(90deg);
  -o-transform: translateY(450px) translateX(-900px) rotateX(90deg);
  -ms-transform: translateY(450px) translateX(-900px) rotateX(90deg);
  transform: translateY(450px) translateX(-900px) rotateX(90deg);
  background-color: #000;
}
.game-window .floor ._1 {
  -webkit-transform: translateY(450px) rotateX(90deg);
  -moz-transform: translateY(450px) rotateX(90deg);
  -o-transform: translateY(450px) rotateX(90deg);
  -ms-transform: translateY(450px) rotateX(90deg);
  transform: translateY(450px) rotateX(90deg);
  background-color: #000;
}
.game-window .floor ._2 {
  -webkit-transform: translateY(450px) translateX(900px) rotateX(90deg);
  -moz-transform: translateY(450px) translateX(900px) rotateX(90deg);
  -o-transform: translateY(450px) translateX(900px) rotateX(90deg);
  -ms-transform: translateY(450px) translateX(900px) rotateX(90deg);
  transform: translateY(450px) translateX(900px) rotateX(90deg);
  background-color: #000;
}
.game-window .floor ._3 {
  -webkit-transform: translateY(450px) translateX(-900px) translateZ(-900px) rotateX(90deg);
  -moz-transform: translateY(450px) translateX(-900px) translateZ(-900px) rotateX(90deg);
  -o-transform: translateY(450px) translateX(-900px) translateZ(-900px) rotateX(90deg);
  -ms-transform: translateY(450px) translateX(-900px) translateZ(-900px) rotateX(90deg);
  transform: translateY(450px) translateX(-900px) translateZ(-900px) rotateX(90deg);
  background-color: #000;
}
.game-window .floor ._4 {
  -webkit-transform: translateY(450px) translateZ(-900px) rotateX(90deg);
  -moz-transform: translateY(450px) translateZ(-900px) rotateX(90deg);
  -o-transform: translateY(450px) translateZ(-900px) rotateX(90deg);
  -ms-transform: translateY(450px) translateZ(-900px) rotateX(90deg);
  transform: translateY(450px) translateZ(-900px) rotateX(90deg);
  background-color: #000;
}
.game-window .floor ._5 {
  -webkit-transform: translateY(450px) translateX(900px) translateZ(-900px) rotateX(90deg);
  -moz-transform: translateY(450px) translateX(900px) translateZ(-900px) rotateX(90deg);
  -o-transform: translateY(450px) translateX(900px) translateZ(-900px) rotateX(90deg);
  -ms-transform: translateY(450px) translateX(900px) translateZ(-900px) rotateX(90deg);
  transform: translateY(450px) translateX(900px) translateZ(-900px) rotateX(90deg);
  background-color: #000;
}
.game-window .floor ._6 {
  -webkit-transform: translateY(450px) translateX(-900px) translateZ(-1800px) rotateX(90deg);
  -moz-transform: translateY(450px) translateX(-900px) translateZ(-1800px) rotateX(90deg);
  -o-transform: translateY(450px) translateX(-900px) translateZ(-1800px) rotateX(90deg);
  -ms-transform: translateY(450px) translateX(-900px) translateZ(-1800px) rotateX(90deg);
  transform: translateY(450px) translateX(-900px) translateZ(-1800px) rotateX(90deg);
  background-color: #000;
}
.game-window .floor ._7 {
  -webkit-transform: translateY(450px) translateZ(-1800px) rotateX(90deg);
  -moz-transform: translateY(450px) translateZ(-1800px) rotateX(90deg);
  -o-transform: translateY(450px) translateZ(-1800px) rotateX(90deg);
  -ms-transform: translateY(450px) translateZ(-1800px) rotateX(90deg);
  transform: translateY(450px) translateZ(-1800px) rotateX(90deg);
  background-color: #000;
}
.game-window .floor ._8 {
  -webkit-transform: translateY(450px) translateX(900px) translateZ(-1800px) rotateX(90deg);
  -moz-transform: translateY(450px) translateX(900px) translateZ(-1800px) rotateX(90deg);
  -o-transform: translateY(450px) translateX(900px) translateZ(-1800px) rotateX(90deg);
  -ms-transform: translateY(450px) translateX(900px) translateZ(-1800px) rotateX(90deg);
  transform: translateY(450px) translateX(900px) translateZ(-1800px) rotateX(90deg);
  background-color: #000;
}
.game-window .sides ._0 {
  -webkit-transform: translate3D(-900px, 0, 0) rotateY(90deg);
  -moz-transform: translate3D(-900px, 0, 0) rotateY(90deg);
  -o-transform: translate3D(-900px, 0, 0) rotateY(90deg);
  -ms-transform: translate3D(-900px, 0, 0) rotateY(90deg);
  transform: translate3D(-900px, 0, 0) rotateY(90deg);
}
.game-window .sides ._1 {
  -webkit-transform: translate3D(-450px, 0, 0) rotateY(90deg);
  -moz-transform: translate3D(-450px, 0, 0) rotateY(90deg);
  -o-transform: translate3D(-450px, 0, 0) rotateY(90deg);
  -ms-transform: translate3D(-450px, 0, 0) rotateY(90deg);
  transform: translate3D(-450px, 0, 0) rotateY(90deg);
}
.game-window .sides ._2 {
  -webkit-transform: translate3D(450px, 0, 0) rotateY(90deg);
  -moz-transform: translate3D(450px, 0, 0) rotateY(90deg);
  -o-transform: translate3D(450px, 0, 0) rotateY(90deg);
  -ms-transform: translate3D(450px, 0, 0) rotateY(90deg);
  transform: translate3D(450px, 0, 0) rotateY(90deg);
}
.game-window .sides ._3 {
  -webkit-transform: translate3D(900px, 0, 0) rotateY(90deg);
  -moz-transform: translate3D(900px, 0, 0) rotateY(90deg);
  -o-transform: translate3D(900px, 0, 0) rotateY(90deg);
  -ms-transform: translate3D(900px, 0, 0) rotateY(90deg);
  transform: translate3D(900px, 0, 0) rotateY(90deg);
  background-color: #444;
}
.game-window .sides ._4 {
  background-color: #444;
  -webkit-transform: translate3D(-1350px, 0, -900px) rotateY(90deg);
  -moz-transform: translate3D(-1350px, 0, -900px) rotateY(90deg);
  -o-transform: translate3D(-1350px, 0, -900px) rotateY(90deg);
  -ms-transform: translate3D(-1350px, 0, -900px) rotateY(90deg);
  transform: translate3D(-1350px, 0, -900px) rotateY(90deg);
}
.game-window .sides ._5 {
  background-color: #444;
  -webkit-transform: translate3D(-450px, 0, -900px) rotateY(90deg);
  -moz-transform: translate3D(-450px, 0, -900px) rotateY(90deg);
  -o-transform: translate3D(-450px, 0, -900px) rotateY(90deg);
  -ms-transform: translate3D(-450px, 0, -900px) rotateY(90deg);
  transform: translate3D(-450px, 0, -900px) rotateY(90deg);
}
.game-window .sides ._6 {
  background-color: #444;
  -webkit-transform: translate3D(450px, 0, -900px) rotateY(90deg);
  -moz-transform: translate3D(450px, 0, -900px) rotateY(90deg);
  -o-transform: translate3D(450px, 0, -900px) rotateY(90deg);
  -ms-transform: translate3D(450px, 0, -900px) rotateY(90deg);
  transform: translate3D(450px, 0, -900px) rotateY(90deg);
}
.game-window .sides ._7 {
  background-color: #444;
  -webkit-transform: translate3D(1350px, 0, -900px) rotateY(90deg);
  -moz-transform: translate3D(1350px, 0, -900px) rotateY(90deg);
  -o-transform: translate3D(1350px, 0, -900px) rotateY(90deg);
  -ms-transform: translate3D(1350px, 0, -900px) rotateY(90deg);
  transform: translate3D(1350px, 0, -900px) rotateY(90deg);
}
.game-window .sides ._8 {
  background-color: #444;
  -webkit-transform: translate3D(-1350px, 0, -1800px) rotateY(90deg);
  -moz-transform: translate3D(-1350px, 0, -1800px) rotateY(90deg);
  -o-transform: translate3D(-1350px, 0, -1800px) rotateY(90deg);
  -ms-transform: translate3D(-1350px, 0, -1800px) rotateY(90deg);
  transform: translate3D(-1350px, 0, -1800px) rotateY(90deg);
}
.game-window .sides ._9 {
  background-color: #444;
  -webkit-transform: translate3D(-450px, 0, -1800px) rotateY(90deg);
  -moz-transform: translate3D(-450px, 0, -1800px) rotateY(90deg);
  -o-transform: translate3D(-450px, 0, -1800px) rotateY(90deg);
  -ms-transform: translate3D(-450px, 0, -1800px) rotateY(90deg);
  transform: translate3D(-450px, 0, -1800px) rotateY(90deg);
}
.game-window .sides ._10 {
  background-color: #444;
  -webkit-transform: translate3D(450px, 0, -1800px) rotateY(90deg);
  -moz-transform: translate3D(450px, 0, -1800px) rotateY(90deg);
  -o-transform: translate3D(450px, 0, -1800px) rotateY(90deg);
  -ms-transform: translate3D(450px, 0, -1800px) rotateY(90deg);
  transform: translate3D(450px, 0, -1800px) rotateY(90deg);
}
.game-window .sides ._11 {
  background-color: #444;
  -webkit-transform: translate3D(1350px, 0, -1800px) rotateY(90deg);
  -moz-transform: translate3D(1350px, 0, -1800px) rotateY(90deg);
  -o-transform: translate3D(1350px, 0, -1800px) rotateY(90deg);
  -ms-transform: translate3D(1350px, 0, -1800px) rotateY(90deg);
  transform: translate3D(1350px, 0, -1800px) rotateY(90deg);
}
